      <nuxt-link
        v-for="language in $options.languages"
        :key="`${language.id}-button`"
        :to="composeLanguageLink(language.id)"
        class="gl-button gl-h-8"
      >
        {{ language.name }}
      </nuxt-link>
